/* *{
    background-color: aquamarine;
} */
div{
     /* height: 100px;
     background-color: pink; */
     /* border-width: 2px;
     border-style: solid;
     border-color: green; */
     /* border:2px solid green;
     border-radius: 15px; */
     /* padding-left: 25px;
     padding-right: 25px;
     padding-top: 25px;
     padding-bottom: 25px; */
     /* padding:1px 2px 3px 4px;
     margin: 50px; */

}
/* button{
   background-color: yellow;
}
h1{
    text-align: center;
    background: greenyellow;
    border-width: 2px;
    border-style: solid;
    border-color: green;
} */
/* div{
    background-color: blue;
    display: inline;
}
button{
    display: block;
} */

/* div{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0,0, 0.5);
} */