 /* h1{
    color:red;
}
p{
    color:blueviolet;
}
button{
    color:rgb(255, 179, 0);
    background-color: green;
}
body{
    background-color: rgba(0, 147, 56, 0.167);
} 
 button{
    color:blue;
    }
    button{
        color:brown;
        background-color: yellowgreen;
    }
#101{
    color:aqua;
}
body{
    background-color: rgb(43, 226, 125);
}
.class{
    color:yellow;
} */
/* #box{
    background-color:blue;
   }
   .heading{
       color:red;
   } */
