/* body{
    text-align: center;
}
div{
    height: 50px;
    width: 250px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    height: 600px;
    width: 600px;
    display: flex; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content:center;
    align-items: flex-start; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
/* }
#box1{
    background-color:pink;
}
#box2{
    background-color:blue ;
    height: 200px;
    flex-shrink: 2;
}
#box3{
    background-color: magenta;
    height: 75px;
}
#box4{
    background-color:yellow ;
}
#box5{
    background-color: green;
} */
div{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
}
@media (width:600px) {
    div{
        background-color: brown;
    }
}
@media  ( min-width:600px) {
    div{
        background-color: rgb(42, 165, 87);
    }
}
@media  ( min-width:600px)and (max-width:800px) {
    div{
        background-color: rgb(165, 91, 42);
    }
}